<h1> <%= @user.name %> </h1>

<h3>Previous Tweets</h3>
<% @user.tweets.each do |tweet| %>
  <li><%= tweet.content %></li>
<% end %>
<br>

<h3>Followers</h3>
<% @user.followers.each do |follower| %>
  <li><%= follower.name %></li>
<% end %>
<br>

<%= link_to "New Tweet", new_tweet_path(@user), :class =>'btn btn-primary' %>

<%= link_to "Follow user", user_followings_path(@user), :method => :post %>
<%= link_to "User Menu", users_path, :class=> "btn btn-primary" %>
<%= link_to "Edit User", edit_user_path, :class=> "btn btn-warning" %>
<%= link_to "Delete", user_path(@user),
                      :confirm => "You sure?",
                      :method => "delete",
                      :class => "btn btn-danger" %>
